# MediChain Frontend - Environment Template
# Rename this to .env

# The backend API URL
VITE_API_URL=http://localhost:8080

# Deployed Smart Contract Address
VITE_CONTRACT_ADDRESS=0x9D54eE261aA4f574D6e2A9CDD1d02eBA5A1C9B13

# Network Configuration
VITE_CHAIN_ID=11155111
VITE_CHAIN_NAME=Sepolia
